<li>
      <div class = 'soma-message'>
            <%case message.current_sender.avatar.file.nil? %>
               <% when false %>
                 <%= link_to message.current_sender.avatar(:micro), "/show/#{message.sender_id}" %>
               <%else%>
                 <%= link_to image_tag('Q50.jpg'), "/show/#{message.sender_id}" %>
            <%end%>
        <div class = 'soma-to-axon-message'> </div>
      </div>
      <div class = 'axon-message'>
        <div class = 'mess-wrapper'>
          <%= simple_format(message.content) %>
        </div>
      </div>
</li>