<li>
      <div class = 'soma-message'>
            <%if !current_node.avatar.file.nil? %>
                 <%= image_tag Node.find(message.sender_id).avatar_url(:micro) %>
            <%else%>
            <%= image_tag 'Q50.jpg' %>
            <%end%>
        <div class = 'soma-to-axon-message'> </div>
      </div>
      <div class = 'axon-message'>
        <div class = 'mess-wrapper'>
          <%= simple_format(message.content) %>
        </div>
        <div class = 'message-close-container'>
          <%= link_to 'x', unmessage_path(:id => message.id) %>
        </div>
      </div>
</li>