<div class = 'pad-block'>
  <div class = 'title-box'>
    <% case @node.avatar.nil? %>
        <% when false %>
            <%= image_tag(@node.avatar_url(:nano))%>
        <% else image_tag('Q25.jpg') %>
    <% end %>
    Message <%= @node.username %>
  </div>
</div>
<%= image_tag(@node.avatar_url(:micro))%>
<div class = 'new-mess-wrapper'>
   <%= render 'shared/message_form'%>
</div>