<div class = 'pad-block'>
  <div class = 'title-box'>
    <% case @node.avatar.file.nil? %>
    <% when false %>
        Message <%= image_tag @node.avatar_url(:nano)%>
     <% else %>
        Message <%= image_tag 'Q25.jpg' %>
    <% end %>
    <% link_to @node do %>
        <%= @node.username %>
    <% end %>
  </div>
</div>
<div class = 'new-mess-wrapper'>
   <%= render 'shared/message_form'%>
</div>