<div class = 'pad-block'>
  <div class = 'title-box'>
        Message
        <% link_to @node do %>
            <%= @node.username %>
        <%= end %>
  </div>
</div>
<div class = 'new-mess-wrapper'>
   <%= render 'shared/message_form'%>
</div>