<div class = 'pad-block'><div class = 'title-box'> <%= image_tag(current_node.avatar_url(:micro))%> Message <%= @node.username %> </div></div>
<div class = 'new-mess-wrapper'>
   <%= render 'shared/message_form'%>
</div>
<div class = 'mess-soma'><%= image_tag(@node.avatar_url(:micro))%></div>