<li>
      <%if node.avatar.file.exists? %>
          <%= image_tag node.avatar_url(:thumb) %>
      <% else%>
          <%= image_tag 'default.gif' %>
      <%end%>
  <%= link_to node.username, node %><br>
  <% if signed_in? and current_node.admin == true and !current_node?(node) %>
  <%= link_to 'delete', node, :method => :delete, :data => {:confirm => 'You sure?'} %>
  <% end %>
</li>