<li>
  <div class = 'soma'>
    <%if !node.avatar.file.nil? %>
        <%= link_to image_tag(node.avatar_url(:thumb)), :action => 'show', :controller => 'nodes', :id => node.id %>
    <% else%>
        <%= link_to image_tag('default.gif'), :action => 'show', :controller => 'nodes', :id => node.id %>
    <%end%>
    <% if node.inputs.include?(current_node) || node.outputs.include?(current_node) %>
        <div class = 'dendrite'></div>
        <div class = 'synapse'></div>
    <% end %>
        <div class = 'right-dendrite'>
          <div class = 'right-username'>
            <%= link_to node.username,  :action => 'show', :controller => 'nodes', :id => node.id %>
          </div>
         </div>
        <div class = 'right-synapse'></div>
  </div>
  <% if signed_in? and current_node.admin == true and !current_node?(node) %>
      <%= link_to 'delete', node, :method => :delete, :data => {:confirm => 'You sure?'} %>
  <% end %>
</li>