<% provide(:title, 'Members') %>
<title-box>
  <%= pluralize(@assembly.nodes.count, 'Member') %>
</title-box>
<div class = 'pulsefeed'>
<% if !@nodes.nil? %>
    <%= will_paginate %>
    <ul class='nodes'>
      <%= render @nodes %>
    </ul>
    <%= will_paginate %>
<% end %>
</div>
