<% provide(:title, 'Outputs') %>
<h3><%= pluralize(@node.outputs.count, 'Output') %> </h3>
<% if !@nodes.nil? %>
    <%= will_paginate %>
    <ul class='nodes'>
      <%= render @nodes %>
    </ul>
    <%= will_paginate %>
<% end %>