<% provide(:title, 'Inputs') %>
<title-box>
  <%= pluralize(@node.inputs.count, 'Input') %>
</title-box>
<div class = 'pulsefeed'>
<% if !@nodes.nil? %>
    <%= will_paginate %>
    <ul class='nodes'>
      <%= render @nodes %>
    </ul>
    <%= will_paginate %>
<% end %>
</div>