<% provide(:title, 'Outputs') %>
<title-box>
  <%= pluralize(@node.outputs.count, 'Output') %>
</title-box>
  <div class = 'inner-pulse'>
  <% if !@nodes.nil? %>
    <%= will_paginate %>
    <ul class='nodes'>
      <%= render @nodes %>
    </ul>
    <%= will_paginate %>
<% end %>
  </div>