<div class = 'pulsefeed'>
<% provide(:title, 'Inputs') %>
<% if !@nodes.nil? %>
    <%= will_paginate %>
    <ul class='nodes'>
      <%= render @nodes %>
    </ul>
    <%= will_paginate %>
<% end %>
</div>

<div class = 'title-box'>
  <%= pluralize(@node.inputs.count, 'Input') %>
</div>