<%= form_for (@message), url: url_for( :controller => :messages, :action => :create, :id => @id ) do |f| %>
    <% if params[:errors] %>
        <div id="error_explanation">
          <ul>
            <%params[:errors].each do |msg| %>
                <li> <%= msg %></li>
            <% end %>
          </ul>
        </div>
    <%end%>
    <div class="textarea">
      <%= f.text_area :content %>
    </div>
    <%= f.submit 'Message', :class => 'btn btn-small btn-primary' %>
<% end %>