<%= form_for(@pulse) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
    <div class="field">
      <%= f.text_area :content, :placeholder => "Fire a pulse..." %>
    </div>
  <%= f.submit "Fire!", :class => "btn btn-large btn-primary" %>
<% end %>