<%= form_for(@pulse_comment) do |f| %>
    <% if params[:errors] %>
        <div id="error_explanation">
          <ul>
            <%params[:errors].each do |msg| %>
                <li> <%= msg %></li>
            <% end %>
          </ul>
        </div>
    <%end%>
    <div class="textarea">
      <%= f.text_area :content, :rows => 4 %>
    </div>
    <%= f.submit "Comment", :disable_with => 'Commenting...', :class => "btn btn-small btn-primary" %>
<% end %>