<% if signed_in? %>
    <title-box>
      My Pulsefeed
    </title-box>
<div class = 'pulsefeed'>
  <div class = 'inner-pulse'>
    <% if @node.pulses.any? %>
         <ol class="pulses">
          <%= render @pulses %>
         </ol>
        <%= will_paginate @pulses %>
      <% end %>
  </div>
<% else %>
  <div class = 'logged-background'>
<br><br><br><br><br><br>
        <h1>Welcome to Pulsefy!</h1>
            <h2>
                The World's First Social Neural Network!
            </h2>
            <%= link_to "Pulsefy!", '/pulseup', :class => "btn btn-medium btn-primary" %>
  </div>
 </div>
<% end %>