<% if signed_in? %>
    <div class = 'pad-block'><div class = 'title-box'>My Pulsefeed</div></div>
    <% if @node.pulses.any? %>
         <ol class="pulses">
          <%= render @pulses %>
         </ol>
        <%= will_paginate @pulses %>
      <% end %>
<% else %>
        <h1>Welcome to Pulsefy!</h1>
            <h2>
                The World's First Social Neural Network!
            </h2>
            <%= link_to "Pulsefy!", '/pulseup', :class => "btn btn-medium btn-primary" %>
  </div>
<% end %>