<% if signed_in? %>
 <main>
   <div class="row">
     <aside class="span4">
         <%= render 'shared/pulse_form' %>
     </aside>
   </div>
    <% if @node.pulses.any? %>
       <h3>Pulsefeed</h3>
         <ol class="pulses">
          <%= render @pulses %>
         </ol>
        <%= will_paginate @pulses %>
      <% end %>
</main>
<% else %>
    <body>
<div class="center hero-unit">
  <h1>Welcome to Pulsefy!</h1>
  <h2>
    The World's First Social Neural Network!
  </h2>
  <%= link_to "Pulsefy!", '/pulseup', :class => "btn btn-large btn-primary" %>
      </div>
    </body>
<% end %>