<li>
  <span class="content"><%= pulse.content %></span>
  <span class="pulser"><%= pulse.pulser %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(pulse.created_at) %> ago.
  </span>
</li>