<li xmlns="http://www.w3.org/1999/html">
<%= image_tag avatar_node(pulse_comment.commenter).avatar_url(:thumb)%>
<span><%= pulse_comment.content %></span>
 <% if current_node.id == pulse_comment.commenter %>
   <%= link_to 'delete', uncomment_path(:id => pulse_comment.id) %>
  <%end%>
  <br>
<span class="timestamp">Commented <%= time_ago_in_words(pulse_comment.created_at) %> ago.
</span>
  </br>
</li>