<li>
  <div class = 'micro-soma'>
      <%if !Node.find(pulse_comment.commenter).avatar.file.nil? %>
          <%= image_tag Node.find(pulse_comment.commenter).avatar_url(:micro) %>
      <%end%>
    <div class = 'micro-soma-to-axon'></div>
    </div>
  <div class = 'micro-axon'><%= pulse_comment.content %>
    <div class = 'micro-close-container'>
      <%= link_to image_tag('close.png', :border => 0),
                  delete_path(:id => pulse_comment.id) %>
    </div>
<div class="timestamp">Commented <%= time_ago_in_words(pulse_comment.created_at) %> ago.
</div>
</div>
</li>