@import "bootstrap";

.assemblies {
  width: 445px;
  list-style: none;
  padding-bottom:10px;
  position:relative;
  li {
    width:400px;
    padding-top:10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #000040;
  }
}

.title {
  display: block;
}

.founder {
  color: $grayLight;
}

.info {
  color: $grayLight;
}

.timestamp {
  color: $grayLight;
}
