@import "bootstrap";
$grayMediumLight: #eaeaea;
$medium-gray: #666;
$topGray2: #677685;
$graydarker: #1c2025;
$backroundBlue: #000040;
$lightSlate: #d0dfef;
$topGray: #708090;
$graydarker: #1c2025;
$frameColor: #121212;


.assemblies {
  width: 550px;
  list-style: none;
  position:relative;
  background-color:$grayMediumLight;
  li {
    width:530px;
    height:100px;
    padding:10px;
    border-bottom: 5px solid $lightSlate;
  }
}

.title {
  display: block;
}

.founder {
  color: $grayLight;
}

.info {
  color: $grayLight;
}

.timestamp {
  color: $grayLight;
}


.assembly-background {
  display:inline;
  position:absolute;
  width:425px;
  height:100px;
  background-color:#eeeeee;
}

.name-container {
  display:block;
  position:absolute;
  margin-top:40px;
  margin-left:150px;
  overflow:hidden;
  max-width: 200px;
}

.assembly-close {
  position:relative;
  left:-15px;
  top:5px;
  font-size: 12px;
  a {
    color:$lightSlate !important;
    &:hover {
      text-decoration: none;
    }
  }
}

.new-box {
  display: inline;
  width:400px;
  height:auto;
  position:absolute;
}