@import "bootstrap";
$grayMediumLight: #eaeaea;
$medium-gray: #666;
$topGray2: #677685;
$graydarker: #1c2025;
$backroundBlue: #000040;
$lightSlate: #d0dfef;
$topGray: #708090;
$graydarker: #1c2025;
$frameColor: #121212;


.assemblies {
  width: 450px;
  list-style: none;
  position:relative;
  background-color:$grayMediumLight;
  li {
    width:450px;
    height:100px;
    padding-top:10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border-bottom: 1px solid $lightSlate;
  }
}

.title {
  display: block;
}

.founder {
  color: $grayLight;
}

.info {
  color: $grayLight;
}

.timestamp {
  color: $grayLight;
}
