$grayMediumLight: #eaeaea;
$lightSlate: #d0dfef;

.convos {
  width: 550px;
  list-style: none;
  position:relative;
  background-color:$grayMediumLight;
  li {
    width:530px;
    height:100px;
    padding:10px;
    border-bottom: 5px solid $lightSlate;
  }
}

.interrogator-box {
  display:inline;
  float:left;
  height:100px;
  width:100px;
  padding-right:10px;
}

.interlocutor-box {
  display:inline;
  float:right;
  height:100px;
  width:100px;
  padding-left:10px;
}

.time-background {
  position:absolute;
  display:inline;
  padding:10px;
  width:310px;
  height:80px;
  background-color:#eeeeee;
  text-align:center;
}

.time-container {
  display:block;
  position:absolute;
  margin-top:40px;
  margin-left:200px;
  overflow:hidden;
  max-width: 200px;
}
