@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;
$backroundBlue: #000040;

/* universal */

html {
  overflow-y: scroll;
  height: 100%;
}

sidebar {
  padding-left: 5%;
  padding-top: 5%;
  float: left;
  width: 300px;
  height: 700px;
  background-color: $backroundBlue;
  color: $backroundBlue;
  a {
    color:  $backroundBlue;
    &:hover {
      color:  #000;
    }
  }
  li {
    width: 100%;
    border-bottom: 1px solid $backroundBlue;
    font-size: 1.3em;
    list-style: none;
  }
}

.side-photo {
  display: block;
  width: 110px;
  height: 110px;
  padding-left: 10px;
  padding-bottom: 10px;
  position: absolute;
}

.nav-list {
  display: block;
  }

rightbar {
  position: absolute;
  left: 924px;
  padding-right: 5%;
  padding-top: 5%;
  width: 300px;
  height: 700px;
  background-color: $backroundBlue;
  li {
    font-size: 1.3em;
    list-style: none;
  }
}

.right-top {
  position: absolute;
  left:940px;
  background-color: #FFFFF0;
  width: 280px;
  height: 650px;
}

.left-top {
  position: absolute;
  background-color: #FFFFF0;
  width: 280px;
  height: 650px;
}

main {
  color: $backroundBlue;
  padding-left: 5%;
  padding-right: 5%;
  position: absolute;
  left: 375px;
  background-color: #FFFFF0;
  min-height: 100%;
}

contain {
  padding-top: 45px;
  position: absolute;
  left:0;
  margin: 0;
  border: 0;
  height: 100%;
  max-height: 100%;
  background-color: #FFFFF0;
  width: 100%;
}

body {
  overflow: auto;
  height: 100%;
  width: 100%;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}



h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 8px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  float: bottom;
  position: absolute;
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}
/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
}

textarea {
  width: 400px !important;
  height: 100px;
}

#error_explanation {
  alignment: center;
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}



.content {
  font-size: 1.3em;
  display: block;
  position:relative;
  width:relative;
  padding:15px;
  margin-left:0px;
  color:#000;
  background:#f3961c; /* default background for browsers without gradient support */
  /* css3 */
  background:-webkit-gradient(linear, 0 0, 0 100%, from(#f9d835), to(#f3961c));
  background:-moz-linear-gradient(#f9d835, #f3961c);
  background:-o-linear-gradient(#f9d835, #f3961c);
  background:linear-gradient(#f9d835, #f3961c);
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;

}

.content:after {
  content:"";
  position:absolute;
  bottom:-15px; /* value = - border-top-width - border-bottom-width */
  left:10px; /* controls horizontal position */
  border-width:15px 15px 0; /* vary these values to change the angle of the vertex */
  border-style:solid;
  border-color:#f3961c transparent;
}