@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;
$medium-gray: #666;
$backroundBlue: #000040;
$lightSlate: #d0dfef;
$topGray: #708090;
$graydarker: #1c2025;
$frameColor: #121212;

html {
  min-height: 100%;
}

body {
  position: absolute;
  padding-top: 35px;
  overflow: auto;
  height: 100%;
  width: 100%;
  background-color: $lightSlate;
}

sidebar {
  z-index:1;
  position: fixed;
  padding-left: 1%;
  float: left;
  top: 40px;
  width: 25%;
  height: 100%;
  background-color:$frameColor;
}

//#topbar {
//  position: fixed;
//  top: 0px;
//  font-size: 2.2em;
//  background-color: $topGray;
//  padding-top: 10px;
//  padding-bottom: 9px;
//  border-bottom-width: 1px;
//  border-bottom-color: $medium-gray;
//  border-bottom-style: solid;
//  border-top-width: 1px;
//  border-top-color: $medium-gray;
//  border-top-style: solid;
//  border-top-width: 1px;
//  text-align: center;
//  height: 25px;
//  width: 76%;
//  padding-left:12%;
//  padding-right:12%;
//  z-index:3;
//
//  a {
//   text-align: center;
//   color:#000;
//      &:hover {
//       color:  $lightSlate;
//       text-decoration: none;
//      }
//    }
//    li {
//      font-size: 0.7em;
//      list-style: none;
//      display: inline;
//      margin: 1em;
//    }
//}

.contain {
  width:100%;
  height:100%;
  position:absolute;
}

.side-name {
  background-color: #eaeaea;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  text-align: center;
  display: block;
  position:fixed;
  left: 15px;
  top:40px;
  height:100px;
  width:auto;
  padding:10px;
  z-index: 3;
}

side-connect {
  content:"";
  z-index: 4;
  position: fixed;
  left: 35px;
  top:158px;
  height: 35px;
  background-color :$grayMediumLight;
  display: block;
  width: 10px;
}

side-dendrite {
  content: "";
  z-index: 2;
  position: fixed;
  top:60px;
  left: 0px;
  height: 10px;
  background-color :$grayMediumLight;
  display: block;
  width: 24%;
  //border-color: $medium-gray;
  //border-left-width: 0px;
  //border-right-width: 0px;
  //border-top-width: 5px;
  //border-bottom-width: 5px;
  //border-style: solid;
}

side-synapse {
  content: "";
  z-index: 2;
  position: fixed;
  top:56px;
  left: 24%;
  height: 18px;
  background-color :$grayMediumLight;
  display: block;
  width: 10px;
  border-color: $medium-gray;
  //border-left-width: 0px;
  //border-right-width: 5px;
  //border-top-width: 5px;
  //border-bottom-width: 5px;
  //border-style: solid;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
}

rightbar {
  z-index:1;
  position: fixed;
  top: 40px;
  left: 74%;
  padding-top: 5%;
  padding-right: 1%;
  width: 25%;
  height:100%;
  background-color:$frameColor;
  li {
    font-size: 1.3em;
    list-style: none;
  }
}

.pulsefeed  {
  width:100%;
  text-align: center;
  position:static;
  min-height:100%;
  z-index:0;
  color: #000;
  background-color: $lightSlate;
  display:block;
  overflow: hidden;
  a {
    font-weight: bold;
    &:hover {
      color:$backroundBlue;
      text-decoration: none;
    }
  }
}

.inner-pulse {
  margin-left: auto;
  margin-right: auto;
  overflow:show;
  width: 500px;
  display:block;
  position:static;
  text-align:left;
  height:100%;
  padding-top:55px;
}

inner-container {
  float: left;
}

.logged-background {
  background-color: $lightSlate;
  color: $backroundBlue;
  position:absolute;
  text-align:center;
  width:100%;
  height:100%;
  margin-top:auto;
}

.logged-out {
  background-color: $lightSlate;
  position:absolute;
  margin:50%;
  border-color: $grayMediumLight;
  color: $backroundBlue;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}



h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
}


p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  position: fixed;
  float: left;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 8px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}


/* footer */

footer {
  float: bottom;
  margin-bottom: 20px;
  padding-top: 5px;
  width:500px;
  border-top: 1px solid #1c2025;
  color: $grayLight;
  a {
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}
/* forms */

input, textarea, textfield, select, .uneditable-input {
  border: 1px solid #bbb;
  padding: 10px;
  margin-bottom: 15px;
  background-color: $lightSlate;
  resize:none;
  width:100%
}

textfield {
  background-color: $lightSlate;
  width:100%;
}


#error_explanation {
  color: #f00;
  font-weight: bold;
  font-size:0.8em !important;
  padding:1%;
  width:100%;
  ul {
    font-size:0.8em !important;
    list-style: none;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

.impulse {
  min-width:53px;
  max-width: 225px;
  z-index: 1;
  font-size: 1.3em;
  display: block;
  position:fixed;
  top:194px;
  left:10px;
  padding:5px;
  margin-left:0px;
  color:#000;
  background-color:$grayMediumLight;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;

}

.text-box {
  position:absolute;
  display:block
}

.soma {
  z-index:1;
  padding:10px;
  position:absolute;
  display:block;
  height:100px;
  width:auto;
  min-width:50px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  background-color: #eaeaea;
  text-align: center;
}

.dendrite {
  overflow: visible;
  content: "";
  z-index: 3;
  position: absolute;
  top:20px;
  left: -50px;
  height: 10px;
  background-color :$grayMediumLight;
  width: 50px;
}

.synapse {
  content: "";
  z-index: 2;
  position: absolute;
  left: 0px;
  height: 18px;
  background-color :$grayMediumLight;
  display: block;
  width: 10px;
  border-color: $medium-gray;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
}

#top_navigation {
  float: left;
  background-color: $frameColor;
  border-color: $frameColor;
  border-style: solid;
  border-bottom-width: 0px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
#top_navigation ul {
  height: 25px;
  margin: 0 10px 0 0;
  padding-right: 25px;
}

#top_navigation ul li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding-right: 25px; }

#top_navigation ul li a {
  color: #ddd;
  float: left;
  font-size: 13pt;
  font-weight: normal;
  margin: 0;
  padding: 4px 8px 6px;
   }

#top_navigation ul li a:hover {
  color: #ffffff; }

#top_navigation ul li a.selected {
  -moz-border-radius: 0.5em 0.5em 0 0;
  -webkit-border-radius: 0.5em 0.5em 0 0;
  border-radius: 0.5em 0.5em 0 0;
  float: left;
  font-size: 16pt;
  font-weight: normal;
  margin: 0;
  padding: 4px 8px 6px;
  background-color: $lightSlate;
  color: #000000;
  text-decoration: none;
}

.tab-bar {
  position:absolute;
  margin-left: 26%;
  width:49%;
  margin-right: 74%;
  background-color:$frameColor;
  padding-top:15px;
}