@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;
$medium-gray: #666;
$backroundBlue: #000040;
$lightSlate: #d0dfef;
$topGray: #708090;
$graydarker: #1c2025;
$frameColor: #274b72;
$innerColor: #132438;

html {
  position:fixed;
  z-index:0;
  width:100%;
  min-height: 650px;
  height:100%;
  background-color:$frameColor;
  min-width: 1100px;
  overflow-y:scroll;
  a {
   &:hover {
    text-decoration: none;
  }
 }
}

.icon-cog {
  color: $grayMediumLight;
}

body {
  position:relative;
  z-index:0;
  width:1160px;
  overflow-x:hidden;
  overflow-y:hidden;
  top:45px;
  min-height: 625px;
  height:95%;
  margin-left: auto !important;
  margin-right: auto !important;
  background-color:inherit;
}

.left-pane {
  position:relative;
  display:inline;
  float:left;
  top:50px;
  width:260px;
  padding:10px;
  min-height:500px;
  height:auto;
  background-color:$innerColor;
  -webkit-border-radius:10px 0px 0px 10px;
  -moz-border-radius:10px 0px 0px 10px;
  overflow:hidden;
}

.right-pane {
  position:relative;
  top:50px;
  float:right;
  width:260px;
  padding:10px;
  height:500px;
  background-color:$innerColor;
  -webkit-border-radius:0px 10px 10px 0px;
  -moz-border-radius:0px 10px 10px 0px;
}


.contain {
  width:100%;
  height:100%;
  position:absolute;
}

.side-name {
  background-color: #eaeaea;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  text-align: center;
  height:100px;
  width:100px;
  padding:10px;
  z-index: 1;
}

.side-connect {
  position:absolute;
  content:"";
  z-index: 1;
  height: 40px;
  left:65px;
  top:130px;
  background-color :$grayMediumLight;
  width: 10px;
}

.side-dendrite {
  position:absolute;
  content: "";
  z-index: 1;
  top:65px;
  left: 120px;
  height: 10px;
  background-color :$grayMediumLight;
  width: 120px;
}

.side-synapse {
  position:absolute;
  right:0px;
  content: "";
  z-index: 1;
  top:-4px;
  height: 18px;
  background-color :$grayMediumLight;
  display: block;
  width: 10px;
  border-color: $medium-gray;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
}


.inner-pulse {
  position:absolute;
  z-index: 1;
  float:top;
  height:100%;
  min-height:585px;
  width: 650px;
  margin-left:250px;
  margin-right:250px;
  text-align:left;
  -webkit-border-radius:0px 0px 10px 10px;
  -moz-border-radius:0px 0px 10px 10px;
  background-color: $lightSlate !important;
  overflow-y:scroll;
  padding-bottom:25px;
}

//.foot-pusher {
//   width:500px;
//   display:block;
//   height:100%;
//   min-height:625px;
//}

.mar-container {
  position:relative;
  width:500px;
  margin-left:auto;
  margin-right:auto;
  min-height:625px;
  height:auto;
  overflow-x:show;
}

.pad-block {
  height:30px;
  width:490px;
  position:relative;
  float:top;
  display:block;
  padding-right:10px;
  padding-left:0px;
  padding-top:10px;
  padding-bottom:10px;
}

.pad-bottom {
  height:50px;
  width:500px;
  position:relative;
  float:bottom;
  content:"";
  display:block;
}

.icon-cog {
  color:$grayMediumLight;
}

.title-box {
  z-index:2;
  width:auto;
  background-color: $lightSlate;
  font-size: 1.5em;
  font-weight: bold;
  padding-right:5px;
  padding-left:0px;
  padding-top:5px;
  padding-bottom:5px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}



h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
}


p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  position: fixed;
  float: left;
  margin-right: 10px;
  margin-left: 15px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 7px;
  padding-left: 10px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}


/* footer */

footer {
  display:block;
  height:30px;
  position:fixed;
  padding-top: 5px;
  margin-left: auto;
  margin-right:auto;
  width:500px;
  float:right;
  float:bottom;
  margin-bottom: 20px;
  color: $grayLight;
  background-color:$lightSlate;
  a {
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}
/* forms */

input, textarea, textfield, select, .uneditable-input {
  border: 1px solid #bbb;
  padding: 10px;
  margin-bottom: 15px;
  background-color: $lightSlate;
  resize:none;
}

textfield {
  background-color: $lightSlate;
}


#error_explanation {
  color: #f00;
  font-weight: bold;
  font-size:0.8em !important;
  padding:1%;
  width:100%;
  ul {
    font-size:0.8em !important;
    list-style: none;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

.impulse {
  position:absolute;
  top:160px;
  min-width:110px;
  max-width: 225px;
  z-index: 1;
  font-size: 1.3em;
  display: block;
  padding:5px;
  color:#000;
  background-color:$grayMediumLight;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
}

.text-box {
  position:absolute;
  display:block
}

.soma {
  z-index:1;
  padding:10px;
  position:absolute;
  display:block;
  height:100px;
  width:100px;
  min-width:50px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  background-color: #eaeaea;
  text-align: center;
}

.dendrite {
  overflow: visible;
  content: "";
  z-index: 3;
  position: absolute;
  top:20px;
  left: -50px;
  height: 10px;
  background-color :$grayMediumLight;
  width: 50px;
}

.synapse {
  content: "";
  z-index: 2;
  position: absolute;
  left: -10px;
  top:-4px;
  height: 18px;
  background-color :$grayMediumLight;
  display: block;
  width: 10px;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
}

#top_navigation {
  width:660px;
  margin-left: auto;
  margin-right: auto;
  background-color: $frameColor;
  border-color: $frameColor;
  border-style: solid;
  border-bottom-width: 0px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
#top_navigation ul {
  height: 25px;
  margin: 0 10px 0 0;
  padding-right: 25px;
}

#top_navigation ul li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding-right: 25px; }

#top_navigation ul li a {
  color: #ddd;
  float: left;
  font-size: 13pt;
  font-weight: normal;
  margin: 0;
  padding: 4px 8px 6px;
   }

#top_navigation ul li a:hover {
  color: #ffffff; }

#top_navigation ul li a.selected {
  -moz-border-radius: 0.5em 0.5em 0 0;
  -webkit-border-radius: 0.5em 0.5em 0 0;
  border-radius: 0.5em 0.5em 0 0;
  float: left;
  font-size: 16pt;
  font-weight: normal;
  margin: 0;
  padding: 4px 8px 6px;
  background-color: $lightSlate;
  color: #000000;
  text-decoration: none;
}

.tab-bar {
  position:relative;
  z-index:2;
  width:100%;
  background-color:$frameColor;
  padding-top:30px;
  min-width: 1100px;
}

.center-box {
  width:auto;
  height:auto;
  margin: 0 auto !important;
  background-color: lightSlate;
}

.inside-right {
  width:auto;
  height:auto;
  background-color: $grayMediumLight;
}

.nav-collapse.collapse {
  height: auto !important;
  overflow: visible !important;
}

.background-pane {
  z-index:0;
  position:fixed;
  top:45px;
  width:100%;
  height:100%;
  background-color: $frameColor;
}

.head-container {
  position:fixed;
  float:top;
  width:100%;
  height:100px;
  overflow:show;
}