$grayMediumLight: #eaeaea;
$lightSlate: #d0dfef;

.dialogues {
    width: 550px;
    list-style: none;
    position:relative;
    background-color:$grayMediumLight;
    li {
      width:530px;
      height:100px;
      padding:10px;
      border-bottom: 5px solid $lightSlate;
    }
}

.messenger-box {
    display:inline;
    float:left;
    height:100px;
    width:100px;
    padding-right:10px;
}

.receiver-box {
  display:inline;
  float:right;
  height:100px;
  width:100px;
  padding-left:10px;
}

.time-background {
  position:absolute;
  display:inline;
  width:290px;
  height:80px;
  background-color:#eeeeee;
  text-align:center;
}

.time-container {
  display:block;
  position:relative;
  margin-top:30px;
  margin-left:auto;
  margin-right:auto;
  overflow:hidden;
  max-width: 290px;
}


.dialogue-close-container {
  z-index:1;
  position:relative;
  display:inline;
  top: -17px;
  left: 330px;
  font-weight:bold;
  font-size: 0.9em;
  height:15px;
  width:15px;
  a {
    color:$lightSlate !important;
    &:hover {
      color:#000 !important;
      text-decoration: none;
    }
  }
}
