$grayMediumLight: #eaeaea;
$lightSlate: #d0dfef;
$backroundBlue: #000040;

.dialogues {
    width: 550px;
    list-style: none;
    position:relative;
    background-color:$grayMediumLight;
    li {
      width:530px;
      height:50px;
      padding:10px;
      border-bottom: 5px solid $lightSlate;
    }
}

.messenger-box {
    display:inline;
    float:left;
    height:50px;
    width:50px;
    padding-right:10px;
}

.receiver-box {
  display:inline;
  float:right;
  height:50px;
  width:50px;
  padding-left:20px;
  font-size: 50px;
}

.dialogue-close-container {
  z-index:1;
  position:relative;
  display:inline;
  top: -17px;
  left: 330px;
  font-weight:bold;
  font-size: 0.9em;
  height:15px;
  width:15px;
  a {
    color:$lightSlate !important;
    &:hover {
      color:#000 !important;
      text-decoration: none;
    }
  }
}
