@import "bootstrap";
$grayMediumLight: #eaeaea;
$medium-gray: #666;

.nodes {
  list-style: none;
  margin: 0;
  width: 450px;
  li {
    height:130px;
    overflow: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 50px;
    padding-right: 50px;
    border-top: 1px solid #000040;
  }
}

.dendrite {
  content: "";
  z-index: 2;
  position: absolute;
  top:25px;
  left: -50px;
  height: 10px;
  background-color :$grayMediumLight;
  display: block;
  width: 50px;
  border-color: $medium-gray;
  border-left-width: 0px;
  border-right-width: 0px;
  border-top-width: 5px;
  border-bottom-width: 5px;
  border-style: solid;
}

.synapse {
  content: "";
  z-index: 2;
  position: absolute;
  top:21px;
  left: -50px;
  height: 18px;
  background-color :$grayMediumLight;
  display: block;
  width: 10px;
  border-color: $medium-gray;
  border-left-width: 5px;
  border-right-width: 0px;
  border-top-width: 5px;
  border-bottom-width: 5px;
  border-style: solid;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
}
.username {
  display: block;
}

.info {
  display: block;
  width: 450px;
  color: $grayLight;
}

.connectors_count {
  color: $grayLight;
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

