@import "bootstrap";
$grayMediumLight: #eaeaea;
$medium-gray: #666;
$topGray2: #677685;
$graydarker: #1c2025;
$backroundBlue: #000040;
$lightSlate: #d0dfef;
$topGray: #708090;
$graydarker: #1c2025;
$frameColor: #121212;

.nodes {
  width: 445px;
  list-style: none;
  position:relative;
  background-color:$grayMediumLight;
  li {
    width:445px;
    height:100px;
    padding-top:10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border-bottom: 1px solid $lightSlate;
    //border: 1px solid $topGray2;
  }
}


.right-username {
  display: block;
  float:top;
  a {
    color: $topGray2;
    font-weight: bold;
    &:hover {
      color:#000;
      text-decoration: none;
    }
  }
}

.info {
  display: block;
  width: 450px;
  color: $grayLight;
}

.connectors_count {
  color: $grayLight;
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

