@import "bootstrap";
$grayMediumLight: #eaeaea;
$medium-gray: #666;
$topGray2: #677685;
$graydarker: #1c2025;
$backroundBlue: #000040;
$lightSlate: #d0dfef;
$topGray: #708090;
$graydarker: #1c2025;
$frameColor: #121212;

.nodes {
  width: 450px;
  list-style: none;
  position:relative;
  background-color:$grayMediumLight;
    li {
      width:450px;
      height:100px;
      padding:10px;
      border-bottom: 5px solid $lightSlate;
    }
}


.right-username {
  display: block;
  float:top;
  a {
    color: $topGray2;
    font-weight: bold;
    &:hover {
      color:#000;
      text-decoration: none;
    }
  }
}

.info {
  display: block;
  width: 450px;
  color: $grayLight;
  word-wrap: true;
  overflow:hidden;
}

.connectors_count {
  color: $grayLight;
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

.profile-info {
  padding-top:5px;
  padding-bottom:5px;
}

.name-background {
  width:340px;
  height:100px;
  background-color:#eeeeee;
}

.name-container {
  display:inline;
  position:relative;
  margin-top:auto;
  margin-bottom:auto;
  margin-left:100px;
  margin-right:auto;
  overflow:hidden;
  max-width: 200px;
}

.node-close {
  position:relative;
  right:-15px;
  top:5px;
  a {
    color:$lightSlate !important;
    &:hover {
      text-decoration: none;
    }
  }
}


.avatar-container {
  width:100px;
  height:100px;
  display:inline;
}