@import "bootstrap";

.pulses {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}

.content {
  font-size: 1.2em;
  display: block;
}

.depth {
  color: $grayLight;
}

.pulser {
  color: $grayLight;
}

.timestamp {
  color: $grayLight;
}

.tags {
  font-size: 1em;
  font-weight: bold;
  color: #ff0000

}

.video-container {
  position: relative;
  padding-bottom: 45%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 480px;
  max-height: 385px;
}

.photo-container {
  position: relative;
  overflow: hidden;
  width:200px;
  height: auto;
  padding-bottom: 1%;
}
