@import "bootstrap";

.pulses {
  list-style: none;
  margin: 10px 0 0 0;
  width: 450px;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}

.headline {
  font-size: 1.7em;
  display: block;
  padding-bottom: 5px;
}

info-container {
  padding-top: 10px;
  position: relative;
  width: 450px;
  display: block
}

.thumbnail {
  position: absolute;
  display: block;
  alignment: left;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.details {
  position: absolute;
  padding-left: 25px;
  display: inline;
}

//#content {
//
//  background-color: #e8e8e8;
//  border-color: #000000;
//  border-width: 3px;
//}

.depth {
  color: $grayLight;
}

.pulser {
  color: $grayLight;
}

.timestamp {
  color: $grayLight;
}

.tags {
  font-size: 1em;
  font-weight: bold;
  color: #ff0000
  }


.video-container {
  position: relative;
  max-width: 450px;
  padding-bottom: 291px;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  display: block;
}

.show-container {
  width: 450px;
  height: relative;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 360px;
  max-height: 290px;
}

.photo-container {
  position: relative;
  overflow: hidden;
  width:200px;
  height: auto;
  padding-bottom: 1%;
}