@import "bootstrap";
$grayMediumLight: #eaeaea;
$topGray2: #677685;
$medium-gray: #666;
$lightSlate: #d0dfef;
$backroundBlue: #000040;
$graydarker: #1c2025;

.pulses {
  list-style: none;
  width: 450px;
  padding-bottom:10px;
  position:relative;
  li {
    margin-left: 0px;
    width:450px;
    padding-top:10px;
    padding-bottom: 10px;
  }
 }


.headline {
  width:350px !important;
  height:16px;
  overflow:hidden;
  font-size: 1.6em;
  display:inline;
  padding-top: 5px;
  font-weight: bold;
}

.show-headline  {
  alignment:center;
  overflow:hidden;
  font-size: 1.7em;
  font-weight: bold;
}


.info-container {
  position:absolute;
  display:block;
  width:200px;
  text-align: left;
  padding-top: 50px;
}

.depth {
  display:block;
}

.timestamp {
  color: $grayLight;
  display:block;
  padding:1px;
}

.tags {
  position:relative;      // changed this 11/18
  display: block;
  font-size: 1em;
  font-weight: bold;
  color: #ff0000;
  width:225px;
  height:auto;
  }

.video-container {
  position: relative;
  max-width: 420px;
  padding-bottom: 265px;
  padding-top: 25px;
  height: 0;
  overflow: hidden;
  display:block;
}

.show-container {
  position: relative;
  width: 450px;
  padding-bottom: 384px;
  padding-top: 25px;
  height: 0;
  overflow: hidden;
  display:block;
}

.info-show-container {
  display:block;
  width:452px !important;
  position:relative;
  padding-top:10px;
  overflow:hidden;
  height:50px;
}

.show-wrapper {
  display:block;
  width:450px !important;
  position:relative;
  padding-top:10px;
  overflow:hidden;
  height:auto;
}

.show-container iframe,
.show-container object,
.show-container embed {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 450px;
  max-height: 384px;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 420px;
  max-height: 338px;
}

.photo-container {
  position: relative;
  overflow: hidden;
  width:420px;
  height: auto;
  padding-bottom: 5px;
  padding-top: 10px;
}

.photo-show-container {
  position: relative;
  top:75px;
  overflow: hidden;
  width:450px;
  height: auto;
  padding-bottom: 5px;
  padding-top: 10px;
  margin: 0 auto;
}

.link-container {
  overflow:hidden;
  display:block;
  width: 420px;
  padding-bottom:5px;
  padding-top:5px;
  display: block;
}

.close-container {
  z-index:1;
  position:absolute;
  display:inline;
  bottom: -51px;
  left:420px;
  font-weight:bold;
  font-size: 1.1em;
  a {
    color:$lightSlate !important;
    &:hover {
      color:#000;
      text-decoration: none;
    }
  }
}

.comment-box {
  position:relative;
  display:block;
  a {
    text-align: center;
    font-weight: bold;
    color: $medium-gray;
    &:hover {
      color:$graydarker;
      text-decoration: none;
    }
  }
}

.axon-wrap {
  padding-top:150px;
  height:auto;
}

.soma-to-axon {
  z-index: 2;
  position: absolute;
  bottom:-30px;
  left: 20px;
  height: 30px;
  background-color :$grayMediumLight;
  display: block;
  width: 10px;
}

.axon {
  text-align: left;
  width: auto;
  height: auto;
  oveflow: auto;
  z-index: 0;
  display: block;
  padding-left: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
  padding-top: 15px;
  color:#000;
  background-color:$grayMediumLight;
  //border: $graydarker solid 5px;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
}


.rating-wrapper {
  display: inline;
  position:relative;
  left:250px;
  height:100px;
  width:35px;
}

.rating-block {
  display:block;
  height:40px;
  width:auto;
  overflow:hidden;
  padding-top:5px;
}

.text-wrapper {
  width:410px;
  padding:5px;
  height:auto;
  font-size: 1.3em;
  disply:block;
  font-weight: bold;
  background-color:#eeeeee;
}

.show-text-wrapper {
  width:428px;
  padding:10px;
  height:auto;
  font-size: 1.5em;
  disply:block;
  font-weight: bold;
  border:1px;
  border-color:$medium-gray;
  border-style:solid;
}

.left-info {
  display:inline;
  position:absolute;
  padding-bottom: 5px;
}

.pulse-comment-wrapper {
  display: block;
  width:300px;
  position:relative;
  padding-top:25px;
  text-align: left;
}