@import "bootstrap";
$graydarker: #1c2025;
$grayMediumLight: #eaeaea;

.pulse_comments {
  list-style: none;
  width: 400px;
  position:relative;
  display:block;
  li {
    border-top: 1px solid #e8e8e8;
  }
}

.micro-soma {
  z-index: 1;
  padding:5px;
  position:absolute;
  display:block;
  height:50px;
  width:50px;
  min-width:15px;
  border: $graydarker solid 5px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  background-color: #eaeaea;
  text-align: center;
}

.micro-soma-to-axon {
  z-index: 2;
  position: absolute;
  top:20px;
  left: 60px;
  height: 10px;
  background-color :$grayMediumLight;
  display: block;
  width: 15px;
  border-color: $graydarker;
  border-top-width: 5px;
  border-bottom-width: 5px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-style: solid;
}

.micro-axon {
  text-align: left;
  width: 260px;
  height: auto;
  oveflow: auto;
  position:relative;
  left: 75px;
  z-index: 0;
  display: block;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-top: 10px;
  color:#000;
  background-color:$grayMediumLight;
  //border: $graydarker solid 5px;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
}

.inner-comment {
  overflow:hidden;
  width: 450px;
  display:block;
  position:static;
  text-align:left;
  height:100%;
}

.micro-close-container {
  z-index:2;
  position:absolute;
  display:inline;
  top: -2px;
  left: 262px;
}

.pulse-comment-wrapper {
  display: block;
  width:350px;
  position:relative;
  padding-top:25px;
  text-align: left;
}