<li>
  <%if !assembly.avatar.file.nil? %>
      <%= image_tag assembly.avatar_url(:thumb) %>
  <% else%>
      <%= image_tag 'Q100.jpg' %>
  <%end%>
  <div class = 'name-background'>
    <div class ='name-container'>
         <%= link_to assembly.title, assembly_path(:id => assembly.id) %>
    </div>
  </div>
  <% if signed_in? and assembly.founder == current_node.id %>
 <%= link_to 'x', assembly, :method => :delete, :disable_with => 'x' %>
   <% end %>
</li>

