<li>
  <%= image_tag assembly.avatar_url(:thumb) if assembly.avatar? %>  <%= link_to assembly.title, assembly_path(:id => assembly.id) %>
  <% if signed_in? and assembly.founder == current_node.id %>
      <span class="founder">founded by Me</span>
    <%= link_to 'delete', assembly, :method => :delete, :data => {:confirm => 'You sure?'} %>
  <% else %>
      <span class="founder">founded by <%= Node.find(assembly.founder).username %></span>
   <% end %>
  </br>
</li>

