<li>
  <%case assembly.avatar.file.nil? %>
  <% when false %>
      <%= link_to image_tag(assembly.avatar_url(:thumb)),  "/view/#{assembly.id}" %>
  <% else%>
      <%= link_to image_tag 'Q100.jpg' %>
  <%end%>
  <div class = 'assembly-background'>
    <div class ='name-container'>
         <%= link_to assembly.title, assembly_path(:id => assembly.id) %>
    </div>
  </div>
  <% if signed_in? and assembly.founder == current_node.id %>
     <div class = 'assembly-close'>
        <%= link_to 'x', assembly, :method => :delete, :disable_with => 'x' %>
     </div>
   <% end %>
</li>

