<% provide(:title, 'My Assemblies') %>
<% if signed_in? and @node == current_node %>
<h1>My Assemblies</h1>
  <% else %>
<h1><%= @node.username %>'s Assemblies</h1>
    <% end %>
<%= will_paginate %>
<ul class='assemblies'>
  <%= render @assemblies %>
</ul>
<%= will_paginate %>