<% provide(:title, 'My Assemblies') %>
<% if !@assemblies.nil? %>
<div class = 'pad-block'><div class = 'title-box'><%= pluralize(@node.assemblies.count, 'Assembly') %></div></div>

      <%= will_paginate %>
      <ul class='assemblies'>
        <%= render @assemblies %>
      </ul>
      <%= will_paginate %>
 <%end%>