<% provide(:title, 'My Assemblies') %>
<title-box>
  <%= pluralize(@node.assemblies.count, 'Assembly') %>
</title-box>
<div class = 'pulsefeed'>
  <% if !@assemblies.nil? %>
      <%= will_paginate %>
      <ul class='assemblies'>
        <%= render @assemblies %>
      </ul>
      <%= will_paginate %>
  <%end%>
</div>