<sidebar class = 'sidebar'>
  <%if !current_node.avatar.file.nil? %>
            <%= image_tag current_node.avatar_url(:thumb) %>
  <%end%>
  <%case params[:controller]%>
  <%when 'static'%>
     <%case params[:action]%>
       <%when 'home'%>
<div class="row">
    <aside class="span4">
      <%= render 'shared/pulse_form' %>
    </aside>
  </div>
     <%end%>
  <%when 'assemblies'%>
      <%case params[:action]%>
  <%when 'show'%>
          <div class="row">
            <aside class="span4">
              <%= render 'shared/pulse_form' %>
            </aside>
          </div>
          <%end%>
      <%else%>

      <%end%>
</sidebar>