<div class = 'pad-block'><div class = 'title-box'> Messages </div></div>
<div class = 'mess-pane'>
<% if !@messages.nil? %>
    <ol class="messages">
      <%= render @messages %>
    </ol>
    <%= will_paginate @messages %>
<% end %>
</div>