<%= javascript_include_tag 'convos.js' %>
<div class = 'pad-block'>
  <div class = 'title-box'> My Conversations With
     <%= Node.find(@id).username %>
  </div>
</div>
<% if !@convos.nil? %>
    <ol class='convos'>
      <%= render @convos %>
    </ol>
    <%= will_paginate @convos %>
<% end %>